@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

html, body {
	min-width: 100vw;
	min-height: 100vh;
	background: url("../assets/smart-city.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

html * {
	font-family: 'Barlow', sans-serif;
}

nav {
	font-size: 1.25rem;
}

#navbrand {
	font-size: 1.75rem;
	font-weight: bold;
}

.main-title {
	min-height: 100vh;
	color: white;
	text-align: center;
	font-size: 7.5vw;
}

#barcode {
	font-family: 'Libre Barcode 128', cursive;
}

#title {
	font-weight: 100;
}

.main-title img {
	width: 2.5vw;
	height: auto;
}

.icon {
	width: 1.5rem;
	margin-right: 0.5rem;
}

.pulse {
	animation: pulse-animation ease-in-out 1s infinite;
}

.card-text {
	font-size: 1.15rem;
}

.card-title {
	font-weight: bold;
	font-size: 1.25rem;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.flex-item {
	width: 20vw;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

@keyframes pulse-animation
{
0% {
	transform: translate( 0, 0 );
}
50% {
	transform: translate( 0, -1vh );
}
100% {
	transform: translate( 0, 0 );
}
}
